* {
    box-sizing: border-box;
}


/* Gallery */

.gallery-container {
    /* display: none; */
    display: grid;
}

.gallery-container img.meme {
    object-fit: contain;
    width: 200px;
    height: 200px;
    cursor: pointer;
}